@import "bootstrap.less";

// Removed stupid border dotted of Firefox links
a {
  &:active {
    outline: none;
  }
  &:focus {
    -moz-outline-style: none;
  }
}
:-moz-any-link:focus {
  outline: 1px dotted invert;
}
:-moz-any-link:focus {
  outline: none;
}

.profile-detail {
  background: @gray-lighter;
  .clearfix;
  margin-bottom: 20px;
  padding-bottom: 20px;
}