{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Smart City </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
</head>
<body>
	<form action="http://192.168.1.36:8000" method="POST" id="comandoform">
		<input type="hidden" name="command" value="reset">
		<table>
			<tr>
				<td>
					<strong>
						Comando
					</strong>
				</td>
				<td>
					<button  onclick="enviar()">
						Comando
					</button>
				</td>
			</tr>
		</table>
	</form>
	<script>

function enviar(){
	var comando=$('#comandoform');
	comando.submit();
}
$(
	function(){
		
	}
);		
	</script>
</body>
</html>
