{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" data-ng-cloak data-ng-app="app">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Smart Sensor </title>
		<meta name="descripstion" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oleo+Script">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600">
		<link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/form-elements.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/buttons.css' %}"/>
		<link rel="stylesheet" href="{% static 'ultimate-flat-social-icons/ultm-css/ultm-general.css' %}"/>
		<link rel="stylesheet" href="{% static 'ultimate-flat-social-icons/ultm-css/ultm-sizes.css' %}"/>
		<link rel="stylesheet" href="{% static 'ultimate-flat-social-icons/ultm-css/ultm-shapes.css' %}"/>
		<link rel="stylesheet" href="{% static 'ultimate-flat-social-icons/ultm-css/ultm-bg-colors.css' %}"/>
		<link rel="stylesheet" href="{% static 'ultimate-flat-social-icons/ultm-css/ultm-bg-images-48.css' %}"/>
		<link rel="stylesheet" href="{% static 'ultimate-flat-social-icons/ultm-css/ultm-effects.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/media-queries.css' %}"/>

		<!--
		<link rel="stylesheet" href="{% static 'bower_components/html5-boilerplate/css/normalize.css' %}">
		<link rel="stylesheet" href="{% static 'bower_components/html5-boilerplate/css/main.css' %}">
		 -->
		<!--
		<link rel="stylesheet" href="{% static 'css/app.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/ZoomMin.css' %}"/>-->


		<!-- Favicon and touch icons -->

		<link rel="shortcut icon" href="{% static 'ico/favicon.png' %}"/>
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'ico/apple-touch-icon-144-precomposed.png' %}"/>
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'ico/apple-touch-icon-114-precomposed.png' %}"/>
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'ico/apple-touch-icon-72-precomposed.png' %}"/>
		<link rel="apple-touch-icon-precomposed" href="{% static 'ico/apple-touch-icon-57-precomposed.png' %}"/>

		<!--	
		<script src="{% static 'bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js' %}"></script> -->
		
		<style>
			#map {
				height: 450px;
				width: 100%;
				margin: 0px;
				padding: 0px;
				margin-top: 50px;
				padding-right: 20px;
			}
		</style>
	</head>
	<body>

		<!-- Top menu -->
		<nav >
			<a class="menu-top" href="">Inicio</a>
			<a class="menu-features" href="">Características</a>
			<a class="menu-download" href="">Descargar</a>
			<a class="menu-device" href="">Dispositivo</a>
			<a class="menu-movie" href="">Video</a>
			<a class="menu-about-us" href="">Equipo</a>
			<a class="menu-contact" href="">Contacto</a>
		</nav>

		<div data-ng-controller="MarkersController">

		</div>
		<div id="info" style="display:none;">
			<p>
				<table width="300">
					<tr>
						<td width="60%"><strong class="texto"> Fecha </strong></td>
						<td width="40%" id="date"></td>
					</tr>
					<tr>
						<td width="60%"><strong class="texto"> Temperatura </strong></td>
						<td width="30%" id="temperature"></td>
						<td width="10%"> Grados Celsius </td>
					</tr>
					<tr>
						<td width="60%"><strong class="texto"> Humedad </strong></td>
						<td width="30%" id="humidity"></td>

						<td width="10%"> % RH </td>
					</tr>
					<tr>
						<td width="60%"><strong class="texto"> Luz </strong></td>
						<td width="30%" id="light"></td>

						<td width="10%"> Lux </td>
					</tr>
					<tr>
						<td width="60%"><strong class="texto"> Dioxido de Nitrogeno </strong></td>
						<td width="30%" id="nitrogen_dioxide"></td>
						<td width="10%"> PPB </td>
					</tr>
					<tr>
						<td width="60%"><strong class="texto"> Monoxido de Carbono </strong></td>
						<td width="30%" id="carbon_monoxide"></td>
						<td width="10%" > PPM </td>
					</tr>
					<tr>
						<td width="60%"><strong class="texto"> Flujometro</strong></td>
						<td width="30%" id="flowmeter"></td>
						<td width="10%" > LT/H </td>
					</tr>
					<tr>
						<td width="60%"><strong class="texto"> Sonido</strong></td>
						<td width="30%" id="sound"></td>
						<td width="10%" > DB </td>
					</tr>					
				</table>
			</p>
		</div>

		<div id="map">

		</div>
		<!-- Inicio -->

		<div class="top-content" data-ng-controller="MainController" id="mainController">
			<div class="inner-bg">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12"></div>

					</div>

					<div class="row">
						<div class="col-sm-1">

						</div>
						<div class="col-sm-1">

						</div>
						<div class="col-sm-1">
							<div class="testimonial-single" id="flowmeterdiv">
								<div class="testimonial-single-image">
									<img src="{% static 'img/sensors/sensor_flow_meter.png' %}" alt="Flow meter channel">
									<p color="blue" style="display:none;">
										Caudal
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-1">
							<div class="testimonial-single" id="nitrogendioxidediv">
								<div class="testimonial-single-image">
									<img src="{% static 'img/sensors/sensor_no_.png' %}" alt="Oxide nitrogen channel">
									<p color="blue" style="display:none;">
										Dioxido
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-1">
							<div class="testimonial-single-image" id="humiditydiv">
								<img src="{% static 'img/sensors/sensor_humidity.png' %}" alt="Humidity channel">
    						<p color="blue" style="display:none;">
									Humedad
								</p>
							</div>
						</div>
						<div class="col-sm-1">
							<div class="testimonial-single-image" id="lightdiv">
								<img src="{% static 'img/sensors/sensor_light.png' %}" alt="Light channel">
    						<p color="blue" style="display:none;">
								  Iluminación
                			</p>
							</div>
						</div>
						<div class="col-sm-1">
							<div class="testimonial-single-image" id="carbonmonoxidediv">
								<img src="{% static 'img/sensors/sensor_co_.png' %}" alt="Monoxide Carbon channel">
								<p color="blue" style="display:none;">
									Monoxido
								</p>
							</div>
						</div>
						<div class="col-sm-1">
							<div class="testimonial-single-image" id="sounddiv">
								<img src="{% static 'img/sensors/sensor_sound.png' %}" alt="Sound channel">
								<p color="blue" style="display:none;">
									Sonido
								</p>
							</div>
						</div>
						<div class="col-sm-1">
							<div class="testimonial-single-image" id="temperaturediv">
								<img src="{% static 'img/sensors/sensor_temp.png' %}" alt="Temperature channel">
								<p color="blue" style="display:none;">
									Temperatura
								</p>
							</div>
						</div>
						<!----
						<div class="col-sm-1">
							<div class="testimonial-single-image" id="volumediv">
								<img src="../static/img/volumen_.png" alt="">
								<p color="blue">
									Volumen
								</p>
							</div>
						</div>
						---->
						<div class="col-sm-1">

						</div>
						<div class="col-sm-1">

						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="container" >
			<div class="row">
				<div id="infochart" style="display:none;">					
				</div>
				<div class="col-sm-12"  id='chart' style="position:relative;width:98%;height:220px;">

				</div>
			</div>
		</div>

		<!-- Descripcion  -->
		<div class="single-feature-container single-feature-bg">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 single-feature-text">
						<h3>Smart Sensort </h3>
						<p>
							Controla tus sembrios inteligentemente! . Smart Sensor es un dispositivo que te permite monitorizar remotamente variables del ambiente como Humedad, Temperatura y otros, para que pueda ser aplicado en el Internet de las Cosas (IoT) como Agricultura Inteligente, Ciudades Inteligentes o simplemente sensorizar el lugar donde vive.  
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Caracteristicas -->

		<div class="features-container">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 features">
						<h3>Características</h3>
						<p>
							Estamos trabajando constantemente mejorandola plataforma para ofrecer la mejor solucion estable para IoT.
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 features-box-1">
						<div class="features-box-1-icon">
							<i class="fa fa-eye"></i>
						</div>
						<h4>Sensores y Actuadores</h4>
						<p>
							Posee varios sensores que podras tomar lectura del ambiente. Así como controlar actuadores.
						</p>
					</div>
					<div class="col-sm-4 features-box-1">
						<div class="features-box-1-icon">
							<i class="fa fa-table"></i>
						</div>
						<h4>Comunicación</h4>
						<p>
							No importa donde estes dentro de una ciudad o fuera de la ciudad. Ya que podras utilizar las siguientes tecnologías de Radio. Largo, medio y corto.
						</p>
												
					</div>
					<div class="col-sm-4 features-box-1">
						<div class="features-box-1-icon">
							<i class="fa fa-pencil"></i>
						</div>
						<h4>Comparte</h4>
						<p>
							Podrás utilizar tus datos públicamente o privada con otras ciudades o personas. 
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 features-box-1"></div>

					<div class="col-sm-4 features-box-1">
						<div class="features-box-1-icon">
							<i class="fa fa-pencil"></i>
						</div>
						<h4>Acceso Remoto</h4>
						<p>
							Te ofrecemos una de nuestras principales caracteriticas manipulación remota de tu dispositivo, podras controlar lo que quieras que este conectado a él.
						</p>
					</div>

					<div class="col-sm-4 features-box-1"></div>
				</div>
			</div>

		</div>

		<!-- Caracteristicas uno -->
		<div class="single-feature-container single-feature-bg">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 single-feature-text">
						<h3>Sensores</h3>
						<p>
							Smart Sensor tiene tiene los principales sensores con los que podrás tomar lecturas remotas. Medimos Monoxido de Carbono, Oxido de Nitrogeno, Niveles de Radiacion, Niveles de Luz, Niveles de agua, Niveles de Humedad(en el aire o tierra) y Temperatura. También poseemos 8 actuadores que se pueden controlar vía remota. Podrás conectar cosas  como: Válvulas para controlar el agua de tu parcela. 
						</p>
					</div>
				</div>
				<!-- <div class="row">
				<div class="col-sm-12 single-feature-img">
				<img src="assets/img/iphone-2.png" alt="">
				</div>
				</div> -->
			</div>
		</div>

		<!-- Caracteristica dos -->
		<div class="single-feature-container single-feature-no-bg">
			<div class="container">
		
				<div class="row">
					<div class="col-sm-12 single-feature-text">
							<h3>Obten tus datos Remotamente</h3>
						<p>
							No importa si estas dentro de una ciudad o fuera de la ciudad. Ya que podrás utilizar las siguientes tecnologías de Radio como
							Con Wifi puedes obtener datos del lugar donde vives, si deseas comunicar de una posición lejana tienes la posibilidad de utilizar una malla Mesh de tecnologia Zigbee que se comunican inteligentemente para que posteriormente lo envies por un canal GPRS.
						</p>
						<p>
						Configura con GPRS - 850MHz/900MHz/1800MHz/1900MHz (Largo Alcance),
						Zigbee - Standard 802.15.4  (Medio Alcance),
						WIFI - Standard 802.11 b/g 2.4GHz (Corto Alcance).						
						</p>
					</div>

				</div>
				<!-- <div class="row">
				<div class="col-sm-12 single-feature-img">
				<img src="assets/img/iphone-3.png" alt="">
				</div>
				</div> -->
			</div>
		</div>

		<!-- Caracteristica tres -->
		<div class="single-feature-container single-feature-bg">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 single-feature-text">
						<h3>Manipulación Remota</h3>
						<p>
							Podrás Manipular tu dispositivo remotamente en cualquier momento y donde estes. Smart City tiene un pequeño chip que controla la manipulación remota.Con este seras capaz de activar y descativar hasta 8 actuadores remotos. Imagina que puedes colocar las Válvulas eléctricas con sensores de Agua para control de Inteligentemente el riego de tus parcelas.
						</p>
					</div>
				</div>
				<!-- <div class="row">
				<div class="col-sm-12 single-feature-img">
				<img src="assets/img/iphone-2.png" alt="">
				</div>
				</div> -->
			</div>
		</div>
        
        <!-- Call to download -->
        <div class="single-feature-container single-feature-no-bg call-to-action-container">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 call-to-action-text">
	                    <h3>Descargalo</h3>
	                    <p>
	                    	Descargate el app para manipular el dispositivo (beta).
	                    </p>
	                    <div class="call-to-action-button">
                            <a class="button-2" href="{% static 'bin/android/v2/app-release.apk' %}"><i class="fa fa-mobile"></i> Descargala </a>
                        </div>
	                </div>
	            </div>
	        </div>
        </div>

        <!-- Call to picture -->
        <div class="single-feature-container single-feature-bg ">
	        <div class="container">
	            <div class="row">
	            	<div class="col-sm-12 single-feature-text call-to-action-container ">
		            	<h3>Prototipo</h3>
					</div>		
				</div>
				<div class="row">	
	        		<div class="col-sm-12 call-to-device">
						<p>
							Placa base posee el procesodor Atmega32U4 
						</p>

						<img src="{% static 'img/proto/proto_one.jpg' %}"></img>
					</div>
					<!--<div class="col-sm-6 call-to-device">
						<p>
							Placa de sensores y actuadores 
						</p>						
						<img src="{% static 'img/IMG_20150306_105403622_HDR.jpg' %}"></img>
					</div>-->
				</div>
				<!--<BR/>
				<div class="row">
					<div class="col-sm-2"> </div>
					
					<div class="col-sm-8 call-to-device">
						<p>
							Modulo de comunicaciones via GSM/GPRS 
						</p>						
						<img src="{% static 'img/IMG_20150306_111855002.jpg' %}"></img>
					</div>
					<div class="col-sm-2"> </div>
				</div>-->
	        </div>
        </div>

		<!-- Video -->
		<div class="call-to-action-container single-feature-no-bg">
			<div class="container">
				<div class="row">
					<!-- <div class="col-sm-12 call-to-action-text"> -->
					<div class="col-sm-12 call-to-movie">
						<h3>Vídeo Introductorio</h3>
						<div style="margin: 0 auto; width: 800px">
							<video controls="" height="450" width="800">
								<source src="https://editor.moovly.com/upload/video/be2a242b-9832-e224_27.webm" type="video/webm"></source>
								<source src="https://editor.moovly.com/upload/video/be2a242b-9832-e224_2345.ogv" type="video/ogv"></source>
								<source src="https://editor.moovly.com/upload/video/be2a242b-9832-e224_7483.mp4" type="video/mp4"></source>
							</video>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Who's behind this -->
		<div class="whos-behind-container">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 whos-behind">
						<h3>Equipo</h3>
						<p>

						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 whos-behind-box-1">
						<div class="whos-behind-photo">
							<img src="../static/img/team/steve-size.png" alt="">
							<div class="whos-behind-social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-twitter"></i></a>
								<a href=""><i class="fa fa-linkedin"></i></a>
								<a href=""><i class="fa fa-envelope"></i></a>
							</div>
						</div>
						<h4>Steve Ataucuri</h4>
						<h5>CEO/ Main Software/hardware Developer </h5>
						<p>

						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 whos-behind-box-1">
						<div class="whos-behind-photo">
							<img src="../static/img/team/wilberbejar.jpg" alt="">
							<div class="whos-behind-social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-twitter"></i></a>
								<a href=""><i class="fa fa-linkedin"></i></a>
								<a href=""><i class="fa fa-envelope"></i></a>
							</div>
						</div>
						<h4>Wilber Bejar </h4>
						<h5>Electronic Engineer</h5>
						<p></p>
					</div>

					<div class="col-sm-6 whos-behind-box-1">
						<div class="whos-behind-photo">
							<img src="../static/img/team/christian_100x100.png" alt="">
							<div class="whos-behind-social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-twitter"></i></a>
								<a href=""><i class="fa fa-linkedin"></i></a>
								<a href=""><i class="fa fa-envelope"></i></a>
							</div>
						</div>
						<h4>Christian Portilla</h4>
						<h5>Backend Developer and Java</h5>
						<p></p>
					</div>
				</div>
				<!-- end row -->
				<!-- <div class="col-sm-6 whos-behind-box-1">
				<div class="whos-behind-photo">
				<img src="assets/img/team/steve-size.png" alt="">
				<div class="whos-behind-social">
				<a href=""><i class="fa fa-facebook"></i></a>
				<a href=""><i class="fa fa-twitter"></i></a>
				<a href=""><i class="fa fa-linkedin"></i></a>
				<a href=""><i class="fa fa-envelope"></i></a>
				</div>
				</div>
				<h4>Steve Ataucuri Cruz</h4>
				<h5>Desarrollador & Backend</h5>
				<p>
				</p>
				</div>
				-->

				<!-- Latest tweets -->
				<!--
				<div class="row">
				<div class="col-sm-12 latest-tweets">
				<h4>Our Latest Tweets</h4>
				<p class="tweet-active"></p>
				<div class="tweets"></div>
				</div>
				</div> -->
			</div>

			<!-- How to contact us -->
			<div class="container">
				<div class="row">
					<div class="col-sm-12 contact">
						<h3>Contactanos !</h3>
						<p>
							Escribenos tus inquietudes queremos saber que piensas, te responderemos lo más pronto posible
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-7 contact-form">
						<h4>Enviar Mensajes</h4>
						<form method="post" action="assets/contact.php">
							<input type="text" name="email" placeholder="Email..." class="contact-email">
							<input type="text" name="subject" placeholder="Subject..." class="contact-subject">
							<textarea name="message" placeholder="Message..."></textarea>
							<button type="submit">
								Enviar
							</button>
						</form>
					</div>
					<div class="col-sm-5 contact-address">
						<h4>Visitanos</h4>
						<div id="mapDireccion" class="map"></div>
						<h4>Dirección</h4>
						<p>
							<i class="fa fa-map-marker"></i>Av. Jorge Chavez, 2do piso, Arequipa, Peru
						</p>
						<p>
							<i class="fa fa-phone"></i>Telefono: 54-212430
						</p>
					</div>
				</div>
			</div>

			<!-- Footer -->
			<footer>
				<div class="container">
					<div class="row">
						<div class="col-sm-7 footer-copyright">
							<p>
							&copy; Smart Sensor Company
								<br>
								All rights reserved.
							</p>
						</div>
						<div class="col-sm-5 footer-social">
							<a class="ultm ultm-facebook ultm-48 ultm-square ultm-gray-to-color" href=""></a>
							<a class="ultm ultm-twitter ultm-48 ultm-square ultm-gray-to-color" href=""></a>
							<a class="ultm ultm-google-plus-1 ultm-48 ultm-square ultm-gray-to-color" href=""></a>
							<a class="ultm ultm-dribbble ultm-48 ultm-square ultm-gray-to-color" href=""></a>
							<a class="ultm ultm-pinterest ultm-48 ultm-square ultm-gray-to-color" href=""></a>
						</div>
					</div>
				</div>
			</footer>

			<script>
				var markers = new Array();
				var marker;
				var map;
				var myLatLng;
				var mapOptions;
				var infowindow;
				var id = '';
				var divMap;
				var raphael;
				var width;


				var sensors = new Array();
				var devices = new Array();
				var access = new Array();				
				var dataMap = new Array();
												
				var data = new Array();

			</script>
			<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
			<script 
 				type="text/javascript"
	  			src="{{ APIKEY_GOOGLE_MAPS }}">
			</script>

			<script src="{% static 'js/map.js' %}"></script>

			
		
			<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
			<script src="{% static 'bower_components/jquery-backstretch/jquery.backstretch.min.js' %}"></script>
			<script src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
			<script src="{% static 'bower_components/retinajs/src/retina.js' %}"></script>

			<script src="{% static 'bower_components/raphael/raphael.js' %}"></script>
			<script src="{% static 'bower_components/morris.js/morris.js' %}"></script>
			<script src="{% static 'bower_components/angular/angular.js' %}"></script>
			<script src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
			<script src="{% static 'bower_components/angular-resource/angular-resource.js' %}"></script>
			<script src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
			
			<script src="{% static 'bower_components/moment/moment.js' %}"></script>


			
			<script src="{% static 'js/app.js' %}"></script>
			<script src="{% static 'js/services.js' %}"></script>
			<script src="{% static 'js/models.js' %}"></script>
			<script src="{% static 'js/directives.js' %}"></script>
			<script src="{% static 'js/controllers.js' %}"></script>

			<script src="{% static 'js/filters.js' %}"></script>
			
			<!-- google maps de abajo---->
			<script src="{% static 'js/scripts.js' %}"></script>
			<script src="{% static 'js/chart.js' %}"></script>
			<!-- google maps de abajo---->

	</body>
</html>
