<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="well">
                <h3><span class="glyphicon glyphicon-lock"></span> Login</h3>
                <h4>{$ message $}</h4>

                <form ng-submit="login()" autocomplete="off">
                    <div class="form-group">
                        <label for="login-username">Username</label>
                        <input type="text" class="form-control"
                               id="login-username" name="username"
                               required
                               ng-model="user.username"/>
                    </div>
                    <div class="form-group">
                        <label for="login-password">Password</label>
                        <input type="password" class="form-control"
                               id="login-password" name="password"
                               required
                               ng-model="user.password"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
