<div>
<mapbox map-id="guillermoemz.j9nlpdfl">
    <div ng-repeat="device in devices">
        <marker lat="{$ device.samples[0].latitude $}" lng="{$ device.samples[0].longitude $}" color="green">
            <ul>
                <li>Fecha: {$ device.samples[0].pub_date $}</li>
                <li>Temperatura: {$ device.samples[0].temperature $}</li>
                <li>Humedad: {$ device.samples[0].humidity $}</li>
                <li>Luz: {$ device.samples[0].light $}</li>
                <li>Dioxido de Nitrogeno: {$ device.samples[0].nitrogen_dioxide $}</li>
                <li>Monoxido de Carbono: {$ device.samples[0].carbon_monoxide $}</li>
            </ul>
        </marker>
    </div>
</mapbox>
</div>

<div class="text-center">
<div class="list-inline">
    <li><a href="#" class="thumbnail"><img src="../static/img/caudal.jpg"><font size="0">Caudal</font></a></li>
    <li><a href="#" class="thumbnail"><img src="../static/img/dioxin.jpg"><font size="0">Dioxido</font></a></li>
    <li><a href="#" class="thumbnail"><img src="../static/img/humedad.jpg"><font size="0">Humedad</font></a></li>
    <li><a href="#" class="thumbnail"><img src="../static/img/iluminacion.png"><font size="0">Iluminacion</font></a></li>
    <li><a href="#" class="thumbnail"><img src="../static/img/monopeligroso.jpg"><font size="0">Monoxido</font></a></li>
    <li><a href="#" class="thumbnail"><img src="../static/img/radiacionultravioleta.jpg"><font size="0">Radiacion</font></a></li>
    <li><a href="#" class="thumbnail"><img src="../static/img/sonido.jpg"><font size="0">Sonido</font></a></li>
    <li><a href="#" class="thumbnail"><img src="../static/img/temperature.jpg"><font size="0">Temperatura</font></a></li>
    <li><a href="#" id="demo" class="thumbnail" onclick="myFunction()" ><img src="../static/img/volumen.png"><font size="0">Volumen</font></a></li>
</div>
</div>

<div style="width: 90%; height: 25px; padding-left: 25px;">
<canvas tc-chartjs-line
        chart-options="options"
        chart-data="data"
        auto-legend>
</canvas>
</div>

<script>
function myFunction()
{
    //document.getElementById("demo").value = "Hola mundo";
    //document.getElementById("demo").innerHTML = "Hola mundo";
    //document.getElementById("demo").style.color = "red";
    alert("Hola");
}
</script>

<!--
style="width: 60%; height: 100px;"
<img src="logo.gif" width="32" height="32" />
<table border="1" width="30%">
<canvas id="myChart" width="400" height="400"></canvas>
-->

<!--
<script>
  // Replace 'examples.map-i80bb8p3' with your own Map ID
  var map = L.mapbox.map('map', 'examples.map-i80bb8p3')
        .setView([38.909671288923, -77.034084142948], 16);

  var listings = document.getElementById('listings');
  var locations = L.mapbox.featureLayer().addTo(map);

  locations.loadURL('sweetgreen.geojson');

  function setActive(el) {
    var siblings = listings.getElementsByTagName('div');
    for (var i = 0; i < siblings.length; i++) {
      siblings[i].className = siblings[i].className.
              .replace(/active/, '').replace(/\s\s*$/, '');
    }

    el.className += ' active';
  }

  locations.on('ready', function() {
    locations.eachLayer(function(locale) {

      // Shorten locale.feature.properties to just `prop` so we're not
      // writing this long form over and over again.
      var prop = locale.feature.properties;

      // Each marker on the map.
      var popup = '<h3>Sweetgreen</h3><div>' + prop.address;

      var listing = listings.appendChild(document.createElement('div'));
          listing.className = 'item';

      var link = listing.appendChild(document.createElement('a'));
          link.href = '#';
          link.className = 'title';

      link.innerHTML = prop.address;
      if (prop.crossStreet) {
        link.innerHTML += '<br /><small class="quiet">' + prop.crossStreet + '</small>';
        popup += '<br /><small class="quiet">' + prop.crossStreet + '</small>';
      }

      var details = listing.appendChild(document.createElement('div'));
      details.innerHTML = prop.city;
      if (prop.phone) {
        details.innerHTML += ' &middot; ' + prop.phoneFormatted;
      }

      link.onclick = function() {
        setActive(listing);

        // When a menu item is clicked, animate the map to center
        // its associated locale and open its popup.
        map.setView(locale.getLatLng(), 16);
        locale.openPopup();
        return false;
      };

      // Marker interaction
      locale.on('click', function(e) {
          // 1. center the map on the selected marker.
          map.panTo(locale.getLatLng());

          // 2. Set active the markers associated listing.
          setActive(listing);
      });

      popup += '</div>';
      locale.bindPopup(popup);
    });
  });

  locations.on('layeradd', function(e) {
    var marker = e.layer;
    marker.setIcon(L.icon({
      iconUrl: 'marker.png',
      iconSize: [56, 56],
      iconAnchor: [28, 28],
      popupAnchor: [0, -34]
    }));
  });
</script>
-->