<div style="background: #f8f8f8" class="profile-detail">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <h1>{$ user.first_name $} {$ user.last_name $}</h1>
        <p>@{$ user.username $}</p>
    </div>
</div>
