<nav class="navbar navbar-inverse navbar-static-top" role="navigation" ng-controller="MenuController">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">CIUDADES INTELIGENTES</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="isAuthenticated()" ng-class="{active:isActive('/login')}">
                    <a href="#/login">Login</a>
                </li>
                <li ng-show="isAuthenticated()" class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">{$ user.username $} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-class="{active:isActive('/profile')}"><a href="#/profile">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="" ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>